<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>ClassName</key>
		<string>HomeMainVC</string>
		<key>ItemName</key>
		<string>首页</string>
		<key>imageNames</key>
		<dict>
			<key>normal</key>
			<string>icon_home</string>
			<key>selected</key>
			<string>icon_home_selected</string>
			<key>hightlight</key>
			<string>icon_home_selected</string>
		</dict>
	</dict>
	<key>1</key>
	<dict>
		<key>ClassName</key>
		<string>SocialCircleMainVC</string>
		<key>ItemName</key>
		<string>圈子</string>
		<key>imageNames</key>
		<dict>
			<key>normal</key>
			<string>icon_course</string>
			<key>selected</key>
			<string>icon_course_selected</string>
			<key>hightlight</key>
			<string>icon_course_selected</string>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>ClassName</key>
		<string>ChatMainVC</string>
		<key>ItemName</key>
		<string>聊天</string>
		<key>imageNames</key>
		<dict>
			<key>normal</key>
			<string>icon_chat</string>
			<key>selected</key>
			<string>icon_chat_selected</string>
			<key>hightlight</key>
			<string>icon_chat_selected</string>
		</dict>
	</dict>
	<key>3</key>
	<dict>
		<key>ClassName</key>
		<string>UserCenterMainVC</string>
		<key>ItemName</key>
		<string>我的</string>
		<key>imageNames</key>
		<dict>
			<key>normal</key>
			<string>icon_wd</string>
			<key>selected</key>
			<string>icon_wd_selected</string>
			<key>hightlight</key>
			<string>icon_wd_selected</string>
		</dict>
	</dict>
</dict>
</plist>
